// @import "~bootstrap/scss/bootstrap";
// @import url("https://fonts.googleapis.com/css2?family=Galada&display=swap");
header {
  display: flex;
  .nav {
    justify-content: space-between;
  }
}

.delete-all-trips {
  visibility: hidden;
  align-self: center;
  margin: 1rem;
}
