.card {
  color: black;
  align-self: center;
  margin: 50px auto;
  width: 65%;
  font-size: 1.3rem;
  a {
    font-size: 1rem;
    margin: 1rem auto;
    &:hover {
      transform: scale(1.08);
    }
  }
}

.countryImg {
  height: calc(27rem - 70px);
}

#flag {
  width: 40px;
  height: 40px;
  margin-right: 0.5em;
}

hr {
  border: none;
  height: 1px;
  background-color: #22394b;
}

.info {
  display: flex;
  align-content: space-between;
  div:first-of-type {
    margin-right: 1rem;
  }

  p {
    margin-bottom: 0.5rem;
  }

  .btn-primary {
    color: #fff;
    background-color: #086777;
    border: #086777;
  }
}

.info > * {
  flex-basis: 100%;
}

.weather {
  background-color: #086777;
  text-align: center;
  color: antiquewhite;

  h3 {
    margin: 1rem;
  }
}

.weather-info {
  font-size: 1.3rem;
}

button {
  margin: 1rem auto;
  &:hover {
    transform: scale(1.1);
  }
}

.trips-title {
  visibility: hidden;
}

@media screen and (max-width: 1023px) {
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 424px) {
  .info {
    flex-direction: column;
  }

  .countryImg {
    height: calc(20rem - 70px);
  }
}

@media screen and (min-width: 2000px) {
  .countryImg {
    height: calc(45rem - 100px);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .card {
    width: 80%;
  }
}

@media screen and (min-width: 2560px) {
  p,
  .weather-info,
  .card-title {
    font-size: 1.8rem;
  }

  #weather-title {
    font-size: 2.3rem;
  }

  #more-info,
  .delete {
    font-size: 1.5rem;
  }
}