@import "~bootstrap/scss/bootstrap";
form {
  width: 50%;
  border: 1px solid #545454;
  border-radius: 3px;
  padding: 40px;
  background-color: rgba($color: #384c5c, $alpha: 0.3);
  margin: auto;
  animation: slide-right;
  @keyframes slide-right {
    from {
      margin-left: -100%;
      width: 100%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
  }

  label {
    font-size: 2rem;
    color: white;
  }

  #submit {
    font-size: 1.5rem;
    color: #384c5c;
  }
}
