@import "~bootstrap/scss/bootstrap";
@function px-to-rem($size) {
  $value: $size / 16px;
  @return #{$value}rem;
}

form {
  width: 50%;
  // border: 1px solid #545454;
  // border-radius: 50px;
  padding: px-to-rem(40px);
  z-index: 30;
  // background-color: rgba($color: #07f32e, $alpha: 0.3);
  // background-image: url("../media/plane.jpg");
  margin: auto px-to-rem(50px);
  animation: slide-right;
  @keyframes slide-right {
    from {
      margin-left: -100%;
      width: 100%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
  }

  label {
    font-size: 2rem;
    color: white;
  }

  #submit {
    font-size: 1.5rem;
    color: #384c5c;
  }
}

.form {
  display: flex;
  background-image: url("../media/plane.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  // align-content: space-between;
  // img {
  //   width: 100%;
  //   // border-radius: 1000px;
  // }
}
@media only screen and (max-width: 650px) {
  form {
    width: 100%;
    margin: 0;
  }
  label {
    font-size: 1.5rem;
  }
}
